<footer class="bg-ocean">
     <div class="container footer-logos-certified">
          <div class="row footer-logos text-center">
               <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-3">
                    <img class="office-365" src="https://cdn.bindtuning.com/api/order/resourceinfo/bindtuning/images/bt-logos/bt-office365-logo-white.png"
                         alt="Microsoft Office 365 Solutions Logo">
               </div>
               <div class="col-xs-4 col-sm-3 col-md-2">
                    <img class="sharepoint" src="https://cdn.bindtuning.com/api/order/resourceinfo/bindtuning/images/bt-logos/bt-sharePoint-logo-white.png"
                         alt="Microsoft SharePoint Logo">
               </div>
               <div class="col-xs-4 col-sm-3 col-md-2">
                    <img class="ms-partner" src="https://cdn.bindtuning.com/api/order/resourceinfo/bindtuning/images/bt-logos/bt-mPartner-logo-white.png"
                         alt="Microsoft Gold Partner Logo">
               </div>
          </div>
     </div>
     <div class="footer-bottom">
          <div class="container">
               <div class="row">
                    <div class="col-xs-12 col-sm-12 col-12 text-center">
                         <p class="copyright text-sky">
                              <small>Copyright © 2019 Bind. All rights reserved. <a href="https://bindtuning.com/privacypolicy" class="text-orange">Privacy
                                        Policy</a></small>
                         </p>
                    </div>
               </div>
          </div>
     </div>
</footer>